.productCardParentDiv{
    width: 200px;
    height: 293px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-bottom: 10px;
    flex-shrink: 0;
    padding: 5px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
}
.cardImage{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: flex;
    justify-content: center;
 
}
.productImg{
 
    object-fit: contain;
    
}
.listView .productImg{
    width: 100%;
}
.productName ,.productPrice{
    font-size: 1rem;
    font-weight: 500;
    margin-left: 5px;
}
.productCatogary{
    font-size: 0.8rem;
    margin-left: 5px;
    color: #626262;
  
}
.productCardDetails{
    display: flex;
    flex-direction: column;
}



@media (max-width:540px) {
   .productCardParentDiv{
    width: 170px;
    height: 290px;
   
   }
   .productName ,.productPrice{
    font-size: 1rem;
    
}
.listView{
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #626262;
}
.listView .cardImage{
    width: 150px;
    height: 100%;
    
    
}


}